*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --primary-color: #012a4a;
  --secondary-color: #ECEFCA;
  --primarybackground-color: #012a4a;
  --secondarybackground-color:var(--secondary-color);
}

#header span ,.navlinks{
  color:   var(--primary-color);
}
#hero{
  min-height: 100vh;
  
}
#hero h1,p {
 
  color: var( --primary-color);
}
#about{
  min-height: 100vh;
  /* background-color: #012a4a; */
  background-color:var(--primarybackground-color) ;
  color:var(--secondary-color);
}
#about p{
  color:var(--secondary-color);

}
#Hero-Img{
  
    filter: drop-shadow(10px 10px 10px );
  }
  #herobtn{
    background-color: #036bb4;
  }
 
#about{
    min-height: 100vh;
    padding-top: 10%;
}
#TechStation{
    height: auto;
    background-color:var(--secondarybackground-color);
    color:var(--primary-color) ;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(rgba(21, 1, 75, 0.133), transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }

  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }

  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
 #html-span,#Git-span{
    color:orange;
    
 }
 #react-img{
  background-color: rgb(58, 182, 240);
 }
 #javascript-span,#next.js-span{
  /* color: yellow; */
  color: rgb(3, 3, 3);
 }
 #bootstrap-span{
  color: rgb(74, 17, 128);
 }
 .cardsocial svg {
  height: 25px;
}

.cardsocial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 background:var(--primarybackground-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  height: 50px;
  width: 200px;
}

.cardsocial::before, .cardsocial::after {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.25s linear;
  z-index: 1;
}

.cardsocial::before {
  content: "";
  left: 0;
  justify-content: flex-end;
  background-color: #014F86;
}

.cardsocial::after {
  content: "";
  right: 0;
  justify-content: flex-start;
  background-color: #01497C;
}

.cardsocial:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cardsocial:hover span {
  opacity: 0;
  z-index: -3;
}

.cardsocial:hover::before {
  opacity: 0.5;
  transform: translateY(-100%);
}

.cardsocial:hover::after {
  opacity: 0.5;
  transform: translateY(100%);
}

.cardsocial span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-family: 'Fira Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
}

.cardsocial .social-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
}

/* .cardsocial .social-link svg {
  text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
  transform: scale(1);
} */

.cardsocial .social-link:hover {
  background-color: rgba(249, 244, 255, 0.774);
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }}
   #projectContainer{
    min-height: 100vh;
    
    padding-top: 10%;
    background-color:  var(--primarybackground-color);
    color: #ECEFCA;

  }
 /* From Uiverse.io by mrhyddenn */ 
.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box {
  width: 250px;
  height: 350px;
  border-radius: 20px;
  background: linear-gradient(170deg,var(--secondarybackground-color),var(--primarybackground-color));
  /* background-image: url("/images/Travelli.JPG");
  background-repeat: no-repeat; */
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box:hover {
  transform: scale(0.9);
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card_boxSpan::before {
  content: 'Live';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg,var(--primarybackground-color), #2a8ce7  51%,var(--primarybackground-color));
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

#card_boxSpan::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}
#card_boxBtn{
  display: flex;
  justify-content: center;
align-items: center;
gap: 20px;
padding-top: 10%;}
#card_boxDescription{
  padding-top: 50%;
}
#contact{
height: 100vh;
padding-top:5%;}
.orange {
  color: #ff7a01;
}

.form-container {
  /* margin: 30px; */
  background-color: rgb(48, 95, 156);
  /* height: 50vh; */
  /* padding: 30px; */
  border-left: 5px solid #d5d8b8;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: #87a4b6;
  width: 100%;
  background-color:var(--primarybackground-color);
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input #message:focus {
  border-left: 5px solid #ECEFCA;
}

/* .form-container .form #message {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #ff7a01;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
} */

.form-container #email , #message:focus {
  border-left: 5px solid #ECEFCA;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ECEFCA;
  font-weight: bold;
  background: var(--primarybackground-color);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
  background: #ECEFCA;
  color: var(--primarybackground-color);
}
#email,#message{
  border: 1px solid #ECEFCA;
  color: #ECEFCA;
  font-weight: bold;
width: 75%;  
padding: 10px 5px;
}
#submit-btn{
  background-color:var(--secondary-color);
  padding: 5px 10px;
  border: none;
  color: var(--primarybackground-color);
  border-radius: 5px;
  font-weight: bold;
}
#contactForm{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
#footer,#footer p{
  background-color: var(--primarybackground-color);
  color: var(--secondary-color);
}
@media  (max-width :767px){
  #contactForm{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}